[Desktop Entry]
Type=Application
Name=PNX
Comment=PNX is a wrapper for Pacman.
Exec=./pnx
Categories=Utility;
Icon=pnx
StartupNotify=false
Terminal=false
NoDisplay=true
